<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Define Charset -->

    <!-- Responsive Meta Tag -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <meta name="viewport" content="width=600,initial-scale = 2.3,user-scalable=no">

    <title>New request</title>

    <style type="text/css">

        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            mso-margin-top-alt: 0px;
            mso-margin-bottom-alt: 0px;
            mso-padding-alt: 0px 0px 0px 0px;
        }

        p, h1, h2, h3, h4 {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }

        span.preheader {
            display: none;
            font-size: 1px;
        }

        html {
            width: 100%;
        }

        table {
            font-size: 14px;
            border: 0;
        }

        /* ----------- responsivity ----------- */
        @media only screen and (max-width: 798px) {
            body[yahoo] .hide-800 {
                display: none !important;
            }

            body[yahoo] .container800 {
                width: 100% !important;
            }

            body[yahoo] .container800_img {
                width: 50% !important;
            }

            body[yahoo] .section800_img img {
                width: 100% !important;
                height: auto !important;
            }

            body[yahoo] .half-container800 {
                width: 49% !important;
            }
        }

        /* ----------- responsivity ----------- */
        @media only screen and (max-width: 640px) {

            /*------ top header ------ */
            body[yahoo] .main-header {
                font-size: 20px !important;
            }

            body[yahoo] .main-section-header {
                font-size: 28px !important;
            }

            body[yahoo] .show {
                display: block !important;
            }

            body[yahoo] .hide {
                display: none !important;
            }

            body[yahoo] .align-center {
                text-align: center !important;
            }

            body[yahoo] .no-border {
                border-right: none !important;
            }

            /*-------- container --------*/
            body[yahoo] .container590 {
                width: 440px !important;
            }

            body[yahoo] .container580 {
                width: 400px !important;
            }

            body[yahoo] .container800 {
                width: 440px !important;
            }

            body[yahoo] .container800_img {
                width: 100% !important;
            }

            body[yahoo] .section800_img img {
                width: 100% !important;
            }

            body[yahoo] .half-container {
                width: 220px !important;
            }

            body[yahoo] .main-button {
                width: 220px !important;
            }

            body[yahoo] .timeline {
                background: none !important;
            }

            /*-------- secions ----------*/
            body[yahoo] .section-img img {
                width: 320px !important;
                height: auto !important;
            }

        }

        @media only screen and (max-width: 479px) {
            /*------ top header ------ */
            body[yahoo] .main-header {
                font-size: 20px !important;
            }

            body[yahoo] .main-section-header {
                font-size: 24px !important;
            }

            /*-------- container --------*/
            body[yahoo] .container590 {
                width: 280px !important;
            }

            body[yahoo] .container580 {
                width: 260px !important;
            }

            body[yahoo] .container800 {
                width: 100% !important;
            }

            body[yahoo] .container800_img {
                width: 100% !important;
            }

            body[yahoo] .section800_img img {
                width: 100% !important;
                height: auto !important;
            }

            body[yahoo] .half-container800 {
                width: 100% !important;
            }

            body[yahoo] .half-container {
                width: 130px !important;
            }

            /*-------- secions ----------*/
            body[yahoo] .section-img img {
                width: 280px !important;
                height: auto !important;
            }
        }

    </style>
</head>


<body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table border="0" width="100%">

    <tbody>
    <tr>
        <td align="center" style="height: 150px;">

            <table border="0" align="center" style="width: 100%;">

                <tbody>
                <tr>
                    <td align="center">
                        <table align="center" border="0" width='820' style="border-collapse: collapse;border-spacing: 0px;">
                            <tbody>
                            <tr>
                                <td rowspan="2"><span style="color: #3e3d4c; font-size: 42px;line-height: 20px;font-family: sans-serif;">zohartours</span></td>
                                <td colspan="2" align="right"><span> 407 LINCOLN ROAD - SUITE 11K - MIAMI BEACH, FL 33139</span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="right"><span>T +1 (212) 252-8690 - INFO@ZOHARTOURS.COM - <span>ZOHARTOURS.COM</span> </span></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center"><hr style="background:#7e808c; border:0; height:1px" /></td>

                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>


<style>

    .tableContainer {
        border-collapse: separate;
        border-spacing: 3px;
        border-left-color: #ebe7e0;
        border-left-style: solid;
        border-left-width: 2px;
        width: 270px;
    }

    .stayInformation {
        width: 253px;
        font-family: monospace;
        color: rgb(44,46,47);
    }

    .tableTitle {
        padding-left: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        color: rgb(20,66,99);
        font-size: 18px;
        font-family: Montserrat,sans-serif;
    }

    .itemLabel {
        padding-left: 10px;
        font-size: 14px;
        font-weight: bold;
    }
    .itemValue {
        background-color:#FFD700;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
        text-transform: uppercase;
    }
</style>

<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">
    <tbody>
    <tr>
        <td align="center">
            <table border="0" width="650px" cellpadding="0" cellspacing="0" >
                <tbody>
                <tr>
                    <td colspan="2" style="text-align:right; color:rgb(20,66,99); font-size:34px; font-family:Montserrat,Calibri,sans-serif; line-height:34px; text-align:center; padding-bottom:20px;">
                        <div style="line-height:34px">Zohar Tours Corp.</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:right; color:rgb(20,66,99); font-size:14px; font-family:Montserrat,Calibri,sans-serif; line-height:34px; text-align:center; padding-bottom:20px;">
                        <div style="line-height:34px">{{ invoice.date|date('d M Y') }}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left; color:rgb(20,66,99); font-size:34px; font-family:Montserrat,Calibri,sans-serif; line-height:34px; text-align:center; padding-bottom:20px;">
                        <div style="line-height:34px">{{ agency.name }}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:left; colo:rgb(20,66,99); font-size:34px; font-family:Montserrat,Calibri,sans-serif; line-height:34px; text-align:center; padding-bottom:20px;">
                        <div style="line-height:34px">{{ agency.address }}</div>
                    </td>
                </tr>
                {#<tr>#}
                    {#<td colspan="2" style="text-align:left; colo:rgb(20,66,99); font-size:34px; font-family:Montserrat,Calibri,sans-serif; line-height:34px; text-align:center; padding-bottom:20px;">#}
                        {#<div style="line-height:34px">{{ agency.city }}</div>#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<td colspan="2" style="text-align:left; colo:rgb(20,66,99); font-size:34px; font-family:Montserrat,Calibri,sans-serif; line-height:34px; text-align:center; padding-bottom:20px;">#}
                        {#<div style="line-height:34px">{{ agency.country }}</div>#}
                    {#</td>#}
                {#</tr>#}
                <tr>
                    <td colspan="2" style="text-align:right; color:rgb(20,66,99); font-size:14px; font-family:Montserrat,Calibri,sans-serif; line-height:34px; text-align:center; padding-bottom:20px;">
                        <div style="line-height:34px">{{ 'Invoice #' ~ invoice.number }}</div>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top"></td>
                    <td style="vertical-align: top">
                        <table class='tableContainer stayInformation'>
                            <tbody>
                            <tr><td colspan="2" class="tableTitle">REQUEST INFORMATION</td></tr>
                            <tr><td class='itemLabel'><strong>ID:</strong></td>
                                <td class="itemValue" style='text-align: center; padding-right: 5px;padding-left: 5px;'><strong>{{ reservation.code }}</strong></td>
                            </tr>
                            <tr><td class='itemLabel'><strong>STATUS:</strong></td>
                                <td class="itemValue" style='text-align: center; padding-right: 5px;padding-left: 5px;'><strong>{{ reservation.status.name }}</strong></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style='height:30px' >&nbsp;</td>
                            </tr>
                            <tr><td colspan="2" class="tableTitle">STAY INFORMATION</td></tr>
                            <tr><td class='itemLabel'><strong>ARRIVAL:</strong></td>
                                <td class="itemValue" style='text-align: center'>{{ checkOut.search.checkIn|date('d M Y') }}</td>
                            </tr>
                            <tr>
                                <td class='itemLabel'><strong>DEPARTURE:</strong></td>
                                <td class="itemValue" style='text-align: center'>{{ checkOut.search.checkOut|date('d M Y') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style='height:30px' >&nbsp;</td>
                            </tr>
                            <tr>
                                <td class='itemLabel'><strong>NIGHTS:</strong></td>
                                <td class="itemValue" style='text-align: center'>{{ checkOut.search.nights }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="60" style="font-size:60px; line-height:60px">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table class='tableContainer stayInformation'>
                            <tbody>
                            <tr><td colspan="2" class="tableTitle">HOTEL / ROOM TYPE</td></tr>
                            <tr><td colspan="2" class='itemLabel'><strong>HOTEL:</strong></td></tr>
                            <tr><td colspan="2" class="itemValue">{{ reservation.hotel.name }}</td></tr>
                            <tr><td colspan="2" class='itemLabel'><strong>ROOM TYPE:</strong></td></tr>
                            <tr><td colspan="2" class="itemValue">{{ reservation.room.name }}</td></tr>
                            <tr><td colspan="2" class='itemLabel'><strong>STATE:</strong></td></tr>
                            <tr><td colspan="2" class="itemValue">{{ reservation.hotel.state }}</td></tr>
                            <tr><td colspan="2" class='itemLabel'><strong>CITY:</strong></td></tr>
                            <tr><td colspan="2" class="itemValue">{{ reservation.hotel.city }}</td></tr>
                            <tr><td colspan="2" style='height:30px' >&nbsp;</td></tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="vertical-align: top">
                        <table class='tableContainer stayInformation'>
                            <tbody>
                            <tr>
                                <td class='itemLabel'><strong>TOTAL:</strong></td>
                                <td class="itemValue" style='text-align: right'>{{ prices.currency ~ prices.totalWithMandatoryServices|number_format(2, '.', ',') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="40" style="font-size:60px; line-height:60px">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" class="itemValue" >
                        ALL PRICES ARE IN U.S. DOLLARS
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" style="line-height:40px">&nbsp;</td>
    </tr>
    </tbody>
</table>

</body>
</html>