{% extends "GushhBackendBundle::base.html.twig" %}

{% block inline_body %}onload="initialize()"{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ asset('backend/global/vendor/formvalidation/formValidation.min.css') }}">
{% endblock %}

{% block content %}

  <div class="page animsition">
    <div class="page-content">
      <div class="page-header page-header-bordered">
        <h1 class="page-title">{{ 'backend.hotels.title'|trans|title }}</h1>
        <ol class="breadcrumb">
          <li><a href="{{ path('dashboard') }}">{{ 'backend.dashboard.title'|trans|title }}</a></li>
          <li><a href="{{ path('backend_hotels') }}">{{ 'backend.hotels.title'|trans|title }}</a></li>
          <li><a href="{{ path('backend_hotel_show', { 'hid': entity.id } ) }}">{{ entity }}</a></li>
          <li class="active">{{ 'backend.form.edit'|trans|title }}</li>
        </ol>
        <div class="page-header-actions">
          <a href="{{ path('backend_hotel_show', { 'hid': entity.id } ) }}" class="btn btn-default">
            <i class="icon fa-chevron-left" aria-hidden="true"></i> {{ 'backend.form.back'|trans|title }}
          </a>
          <a href="#" class="btn btn-success" id="saveHotelTop">
            <i class="icon fa-check" aria-hidden="true"></i> {{ 'backend.form.saveHotel'|trans|title }}
          </a>
        </div>
      </div>

      <!-- Panel Table Individual column searching -->
      <div class="panel">
        {# <header class="panel-heading">
          <h3 class="panel-title">No se </h3>
        </header> #}
        <div class="panel-body container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <!-- Form -->
              {{ form_start(form) }}
                <h4 class="text-center">{{ 'backend.form.hotelInfo'|trans|title }}</h4>
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label class="control-label">{{ 'backend.form.name'|trans|title }}</label>
                    {{ form_widget(form.name) }}
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="control-label">{{ 'backend.form.subtitle'|trans|title }}</label>
                    {{ form_widget(form.subtitle) }}
                  </div>
                  <div class="form-group col-sm-2">
                    <label class="control-label">{{ 'backend.form.stars'|trans|title }}</label>
                    <div>
                      <div class="rating rating-lg" data-score="{{ entity.stars }}" data-number="7" data-half="true" data-plugin="rating" data-score-name="stars"></div>
                    </div>
                  </div>
                  <div class="form-group col-sm-1">
                    <div class="checkbox-custom checkbox-primary">
                        {{ form_widget(form.vip) }}
                      <label for="gushh_corebundle_hotel_vip">
                        VIP
                      </label>
                    </div>
                  </div>
                  <div class="form-group col-sm-2">
                    <label class="control-label">Hotelbeds Id</label>
                    {{ form_widget(form.hotelbedsId) }}
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-8">
                    <label class="control-label">{{ 'backend.form.address'|trans|title }}</label>
                      {{ form_widget(form.address) }}
                  </div>
                  <div class="form-group col-sm-4">
                    <label class="control-label">{{ 'backend.form.phone'|trans|title }}</label>
                      {{ form_widget(form.phone) }}
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-3">
                    <label class="control-label">{{ 'backend.form.city'|trans|title }}</label>
                    {{ form_widget(form.city, { 'id': 'locality' } ) }}
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="control-label">{{ 'backend.form.state'|trans|title }}</label>
                    {{ form_widget(form.state, { 'id': 'administrative_area_level_1' } ) }}
                  </div>
                  <div class="form-group col-sm-2">
                    <label class="control-label">{{ 'backend.form.zipCode'|trans|title }}</label>
                    {{ form_widget(form.zipCode, { 'id': 'postal_code' } ) }}
                  </div>
                  <div class="form-group col-sm-2">
                    <label class="control-label">{{ 'backend.form.country'|trans|title }}</label>
                    {{ form_widget(form.country, { 'id': 'country' } ) }}
                  </div>
                  <div class="form-group col-sm-2">
                    <label class="control-label">{{ 'backend.form.region'|trans|title }}</label>
                      {{ form_widget(form.region, { 'id': 'region' } ) }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">{{ 'backend.form.description'|trans|title }}</label>
                  {{ form_widget(form.enDescription) }}
                </div>
                <div class="form-group">
                  <label class="control-label">{{ 'backend.form.description'|trans|title }}</label>
                  {{ form_widget(form.esDescription) }}
                </div>
                <div class="row">
                  <div class="form-group col-sm-2">
                    <label class="control-label">{{ 'backend.form.checkIn'|trans|title }}</label>
                    {{ form_widget(form.checkIn) }}
                  </div>
                  <div class="form-group col-sm-2">
                    <label class="control-label">{{ 'backend.form.checkOut'|trans|title }}</label>
                    {{ form_widget(form.checkOut) }}
                  </div>
                  <div class="form-group col-sm-2">
                    <label class="control-label">{{ 'backend.form.freeChildrenAge'|trans|title }}</label>
                    {{ form_widget(form.childAge) }}
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="control-label">{{ 'backend.form.web'|trans|title }}</label>
                    {{ form_widget(form.website) }}
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="control-label">Video</label>
                    {{ form_widget(form.video) }}
                  </div>
                </div>
                <h4 class="text-center">{{ 'backend.form.reservations'|trans|title }}</h4>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label class="control-label">{{ 'backend.form.reservationEmail'|trans|title }}</label>
                    {{ form_widget(form.reservationEmail) }}
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="control-label">{{ 'backend.form.cancellationEmail'|trans|title }}</label>
                    {{ form_widget(form.cancellationEmail) }}
                  </div>
                </div>
                <h4 class="text-center">{{ 'backend.form.currency'|trans|title }}</h4>
                <div class="form-group">
                  <label class="control-label">{{ 'backend.form.currency'|trans|title }}</label>
                  {{ form_widget(form.currency) }}
                </div>
                <h4 class="text-center">{{ 'backend.form.amenities'|trans|title }}</h4>
                <div class="row">
                  {% for amenity in form.amenities %}
                    <div class="form-group col-sm-3">
                      <div class="checkbox-custom checkbox-primary">
                        {{ form_widget(amenity) }}
                        {{ form_label(amenity) }}
                      </div>
                    </div>
                  {% endfor %}
                </div>

                <h4 class="text-center">Voucher</h4>
                <div class="form-group">
                  <label class="control-label">Note
                  <span class="label label-outline label-default">EN</span></label>
                  {{ form_widget(form.enVoucherNote) }}
                </div>

                
                <h4 class="text-center">{{ 'backend.form.status'|trans|title }}</h4>
                <div class="form-group">
                  <div class="checkbox-custom checkbox-primary">
                    {{ form_widget(form.enabled) }}
                    <label for="gushh_corebundle_hotel_enabled">
                      {{ 'backend.form.enabled'|trans|title }}
                    </label>
                  </div>
                </div>
                <hr>

                <div class="form-group text-center">
                  <a href="#" class="btn btn-danger btn-outline pull-left" data-target="#deleteForm" data-toggle="modal">
                    <i class="icon fa-trash" aria-hidden="true"></i> {{ 'backend.form.delete'|trans|title }}
                  </a>
                  <a href="{{ path('backend_hotel_show', { 'hid': entity.id }) }}" class="btn btn-outline btn-default">
                    <i class="icon fa-close" aria-hidden="true"></i> {{ 'backend.form.cancel'|trans|title }}
                  </a>
                  <button type="submit" class="btn btn-success" id="saveHotel">
                    <i class="icon fa-check" aria-hidden="true"></i> {{ 'backend.form.saveHotel'|trans|title }}
                  </button>
                </div>

                {{ form_rest(form) }}

              {{ form_end(form) }}
              <!-- End Form -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Panel Table Individual column searching -->
    </div>
  </div>

  <!-- Modal -->
  {{ include('GushhBackendBundle::Modals/deleteHotelModal.html.twig', { 'deleteForm': deleteForm, 'entity': entity }) }}
  <!-- End Modal -->

{% endblock %}

{% block footer_js %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR3HgnzDJM1--Xj-Y90PPY87mmUPk-xpM&libraries=places"></script>
  <script src="{{ asset('backend/global/vendor/formvalidation/formValidation.min.js') }}"></script>
  <script src="{{ asset('backend/global/vendor/formvalidation/framework/bootstrap.min.js') }}"></script>
  <script src="{{ asset('backend/js/pages/hotel/formValidation.min.js') }}"></script>
  {# <script src="{{ asset('backend/js/pages/hotel/raty.min.js') }}"></script> #}

  <script src="{{ asset('backend/global/vendor/raty/jquery.raty.min.js') }}"></script>
  <script src="{{ asset('backend/global/js/components/raty.min.js') }}"></script>
{% endblock %}
