<!-- Start Payment Receive Form -->
<div class="modal fade modal-fade-in-scale-u" id="addPaymentReceivedForm" aria-hidden="true" aria-labelledby="addPaymentReceivedForm"
     role="dialog" tabindex="-1">
    {{ form_start(form) }}
    <div class="modal-dialog modal-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Add Payment Received Information</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label class="control-label">Date</label>
                        {{ form_widget(form.date) }}
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="control-label">Amount</label>
                        {{ form_widget(form.amount) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label class="control-label">Description</label>
                        {{ form_widget(form.detail, { 'attr': { 'autocomplete' : 'off'} } ) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" id="saveInvoice">Save Payment Received</button>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
<!-- End Payment Receive Form -->
