{% extends "GushhBackendBundle::base.html.twig" %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('backend/global/vendor/formvalidation/formValidation.min.css') }}">
    <link rel="stylesheet" href="{{ asset('backend/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
{% endblock %}

{% block content %}

    <div class="page animsition">
        <div class="page-content">
            <div class="page-header page-header-bordered">
                <h1 class="page-title">Reservations</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('dashboard') }}">Backend</a></li>
                    <li>
                        <a href="{{ path('backend_reservation_show', {'id': reservation.id } ) }}">Reservation</a>
                    </li>
                    <li class="active">New</li>
                </ol>
                <div class="page-header-actions">
                    <a href="{{ path('backend_reservation_show', { 'id': reservation.id }) }}"
                       class="btn btn-default">
                        <i class="icon fa-chevron-left" aria-hidden="true"></i> Back
                    </a>
                </div>

            </div>

            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Current Reservation Balance: {{ currency ~ ' ' ~ (reservation.total - reservation.paymentsAmount)|number_format(2, '.', ',') }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Form -->
                            {{ form_start(form) }}
                            <!-- Title -->
                            <h4 class="text-center">Basic Payment Information</h4>
                            {{ form_errors(form) }}
                        </div>
                    </div>
                    <div class="row">
                            <!-- Name -->
                        <div class="col-sm-6 form-group">
                            <label class="control-label">Amount</label>
                            {{ form_widget(form.amount) }}
                        </div>
                            <!-- Description -->
                            <div class="col-sm-6 form-group">
                                <label class="control-label">Internal Reference</label>
                                {{ form_widget(form.reference) }}
                            </div>
                    </div>
                    <div class="row">
                        <!-- Form Buttons -->
                        <div class="form-group text-center">
                            <a href="{{ path('backend_reservation_show', { 'id': reservation.id}) }}"
                               class="btn btn-outline btn-default">Cancel</a>
                            <button type="submit" class="btn btn-success" id="saveReservationPayment">Save Payment
                            </button>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                        <!-- End Form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Table Individual column searching -->
    </div>

{% endblock %}

{% block footer_js %}
    <script src="{{ asset('backend/global/vendor/formvalidation/formValidation.min.js') }}"></script>
    <script src="{{ asset('backend/global/vendor/formvalidation/framework/bootstrap.min.js') }}"></script>
    <script src="{{ asset('backend/js/pages/reservation-payment/formValidation.min.js') }}"></script>
{% endblock %}