{% extends "GushhBackendBundle::base.html.twig" %}

{% block styles %}
  <link rel="stylesheet" href="{{ asset('backend/global/vendor/formvalidation/formValidation.min.css') }}">  
{% endblock %}

{% block content %}

  <div class="page animsition">
    <div class="page-content">
      <div class="page-header page-header-bordered">
        <h1 class="page-title">Hotels</h1>
        <ol class="breadcrumb">
          <li><a href="{{ path('dashboard') }}">Backend</a></li>
          <li><a href="{{ path('backend_users') }}">Users</a></li>
          <li><a href="{{ path('backend_user_admins') }}">Admins</a></li>
          <li><a href="{{ path('backend_user_admins') }}">{{ entity }}</a></li>
          <li class="active">Edit</li>
        </ol>
        <div class="page-header-actions">
          <a href="{{ path('backend_user_admins') }}" class="btn btn-default">
            <i class="icon fa-chevron-left" aria-hidden="true"></i> Back
          </a>       
          <a href="#" class="btn btn-danger" data-target="#deleteForm" data-toggle="modal">
            <i class="icon fa-trash" aria-hidden="true"></i> Disable
          </a>    
        </div>
      </div>
      
      <!-- Panel Table Individual column searching -->
      <div class="panel">
        {# <header class="panel-heading">
          <h3 class="panel-title">No se </h3>
        </header> #}
        <div class="panel-body container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <!-- Form -->
              {{ form_start(form) }}
                <h4 class="text-center">Admin Information</h4>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label class="control-label">Name</label>
                    {{ form_widget(form.name) }}
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="control-label">Last Name</label>
                    {{ form_widget(form.lastname) }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">Email</label>
                  {{ form_widget(form.email ) }}
                </div>
              <div class="">
                <label class="control-label">Vip</label>
                  {{ form_widget(form.vip) }}
              </div>

                <h4 class="text-center">Agency</h4>
                <div class="form-group">
                  <label class="control-label">Agency</label>
                    {{ form_widget(form.agency ) }}
                </div>

                <h4 class="text-center">Super Administrator</h4>
                <div class="form-group">
                  <div class="checkbox-custom checkbox-primary">
                    {{ form_widget(form.superadmin) }}
                    <label for="gushh_corebundle_user_admin_superadmin">is super administrator?</label>
                  </div>
                </div>

                <div class="form-group text-center">
                  <a href="{{ path('backend_user_admins') }}" class="btn btn-outline btn-default">Cancel</a>
                  <button type="submit" class="btn btn-success" id="saveUser">Save Admin</button>
                </div>
                
                {{ form_rest(form) }}

              {{ form_end(form) }}
              <!-- End Form -->
            </div>
          </div>
        </div>        
      </div>
      <!-- End Panel Table Individual column searching -->
    </div>
  </div>
  
  <!-- Modal -->
  {{ include('GushhBackendBundle::Modals/deleteUserModal.html.twig', { 'deleteForm': deleteForm, 'entity': entity }) }}
  <!-- End Modal -->
{% endblock %}

{% block footer_js %}
  <script src="{{ asset('backend/global/vendor/formvalidation/formValidation.min.js') }}"></script>
  <script src="{{ asset('backend/global/vendor/formvalidation/framework/bootstrap.min.js') }}"></script>
  <script src="{{ asset('backend/js/pages/user/formValidation.min.js') }}"></script>
{% endblock %}