<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Define Charset -->

    <!-- Responsive Meta Tag -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <meta name="viewport" content="width=600,initial-scale = 2.3,user-scalable=no">

    <title>New request</title>

    <style type="text/css">

        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            mso-margin-top-alt: 0px;
            mso-margin-bottom-alt: 0px;
            mso-padding-alt: 0px 0px 0px 0px;
        }

        p, h1, h2, h3, h4 {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }

        span.preheader {
            display: none;
            font-size: 1px;
        }

        html {
            width: 100%;
        }

        table {
            font-size: 12px;
            border: 0;
        }
    </style>
</head>


<body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">


<style>
    .tableContainer {
        border-collapse: separate;
        border-spacing: 3px;
        border-left-color: #ebe7e0;
        border-left-style: solid;
        border-left-width: 2px;
        width: 270px;
    }

    .stayInformation {
        width: 253px;
        font-family: monospace;
        color: rgb(44,46,47);
    }

    .tableTitle {
        padding-left: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        color: rgb(20,66,99);
        font-size: 16px;
        font-family: Montserrat,sans-serif;
    }

    .itemLabel {
        padding-left: 10px;
        font-size: 12px;
        font-weight: bold;
    }
    .itemValue {
        background-color:#FFD700;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        text-transform: uppercase;
    }
</style>

<table border="0" width="100%">

    <tbody>
    <tr>
        <td align="center" style="height: 150px;">

            <table border="0" align="center" style="width: 100%;">

                <tbody>
                <tr>
                    <td align="center">
                        <table align="center" border="0" width='820' style="border-collapse: collapse;border-spacing: 0px;">
                            <tbody>
                            <tr>
                                <td rowspan="2"><span style="color: #3e3d4c; font-size: 38px;line-height: 20px;font-family: sans-serif;">zohartours</span></td>
                                <td colspan="2" align="right"><span> 407 LINCOLN ROAD - SUITE 11K - MIAMI BEACH, FL 33139</span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="right"><span>T +1 (212) 252-8690 - INFO@ZOHARTOURS.COM - <span>ZOHARTOURS.COM</span> </span></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center"><hr style="background:#7e808c; border:0; height:1px" /></td>

                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>


<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">
    <tbody>
    <tr>
        <td align="center">
            <table border="0" align="center" width="650px" cellpadding="0" cellspacing="0" >
                <tbody>
                <tr>
                    <td colspan="2" style="color:rgb(20,66,99); font-size:32px; font-family:Montserrat,Calibri,sans-serif; line-height:32px; text-align:center; padding-bottom:20px;">
                        <div style="line-height:34px">NEW REQUEST</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" style="color:rgb(44,46,47); font-size:13px; font-family:'Open Sans',Calibri,sans-serif; line-height:20px; padding-bottom:20px;">
                        <div style="line-height:24px">PLEASE CONFIRM UNDER <span style="color:#019ac4">FIT CONTRACT.</span></div>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top">
                        <table class='tableContainer stayInformation'>
                            <tbody>
                            <tr><td class="tableTitle">GUEST INFORMATION</td></tr>
                            <tr><td class='itemLabel'><strong>LAST NAME:</strong></td></tr>
                            <tr><td class="itemValue" style='text-align: left'>{{ checkOut.guestLastname }}</td></tr>
                            <tr><td class='itemLabel'><strong>FIRST NAME:</strong></td></tr>
                            <tr><td class="itemValue" style='text-align: left'>{{ checkOut.guestName }}</td></tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="vertical-align: top">
                        <table class='tableContainer stayInformation'>
                            <tbody>
                            <tr><td colspan="2" class="tableTitle">REQUEST INFORMATION</td></tr>
                            <tr><td class='itemLabel'><strong>ID:</strong></td>
                                <td class="itemValue" style='text-align: center; padding-right: 5px;padding-left: 5px;'><strong>{{ reservation.code }}</strong></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style='height:30px' >&nbsp;</td>
                            </tr>
                            <tr><td colspan="2" class="tableTitle">STAY INFORMATION</td></tr>
                            <tr><td class='itemLabel'><strong>ARRIVAL:</strong></td>
                                <td class="itemValue" style='text-align: center'>{{ checkOut.search.checkIn|date('d M Y') }}</td>
                            </tr>
                            <tr>
                                <td class='itemLabel'><strong>DEPARTURE:</strong></td>
                                <td class="itemValue" style='text-align: center'>{{ checkOut.search.checkOut|date('d M Y') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style='height:30px' >&nbsp;</td>
                            </tr>
                            <tr>
                                <td class='itemLabel'><strong>NIGHTS:</strong></td>
                                <td class="itemValue" style='text-align: center'>{{ checkOut.search.nights }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="60" style="font-size:50px; line-height:50px">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class='tableContainer stayInformation' style="width: 100%;">
                            <tbody>
                            <tr><td colspan="4" class="tableTitle">HOTEL / ROOM TYPE</td></tr>
                            <tr><td colspan="2" class='itemLabel'><strong>HOTEL:</strong></td><<td colspan="2" class='itemLabel'><strong>ROOM TYPE:</strong></td></tr>
                            <tr><td colspan="2" class="itemValue">{{ reservation.hotel.name }}</td><td colspan="2" class="itemValue">{{ reservation.room.name }}</td></tr>
                            <tr><td colspan="4" style='height:30px' >&nbsp;</td></tr>
                            <tr>
                                <td class='itemLabel' styl="width: 100px;"><strong>QUANTITY:</strong></td><td class='itemValue' style='text-align: center;width: 160px;'>01</td><td class='itemLabel' style="width: 100px;"><strong>OCCUPANCY:</strong></td><td class='itemValue' style='text-align: center;width: 160px;'>{{ occupancy }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% if prices.isPromotion %}
                    <tr>
                        <td height="40" style="font-size:50px; line-height:50px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table  class='tableContainer stayInformation' style="width:100%;" >
                                <tbody>
                                <tr>
                                    <td class='itemLabel'><strong>Pomotions Applied:</strong></td>
                                </tr>
                                <tr>
                                    <td class="itemValue" >
                                        {{ prices.promotion }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td height="40" style="font-size:50px; line-height:50px">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table  class='tableContainer stayInformation' style="width:100%;" >
                            <tbody>
                            <tr>
                                <td class='itemLabel'><strong>Please return price</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" style="line-height:40px">&nbsp;</td>
    </tr>
    </tbody>
</table>
<table width="100%" bgcolor="ffffff" >
    <tbody>
    <tr>
        <td align="center">
            <table align="center" width="650px" style="border:1px solid #e4e6ec">
                <tbody>
                <tr>
                    <td height="15" style="font-size:13px; line-height:13px">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center">
                        <table width="560" align="center" style="border-collapse:collapse">
                            <tbody>
                            <tr>
                                <td align="left" valign="middle" width="65"><span class="x_editable_img"></span> </td>
                                <td>
                                    <table border="0" cellpadding="0" align="left" cellspacing="0" style="border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td align="left" style="color:rgb(20,66,99); font-size:14px; font-family:Montserrat,Calibri,sans-serif; line-height:18px">
                                                <div style="line-height:22px"><span >ANY QUESTIONS?</span> </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="5" style="font-size:5px; line-height:5px">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="color:rgb(44,46,47); font-size:12px; font-family:'Open Sans',Calibri,sans-serif; line-height:20px">
                                                <div style="line-height:23px"><span>Contact us REF <strong>{{ reservation.code }}</strong></span> </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="15" style="font-size:13px; line-height:13px">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
        <table border="0" align="center" style="width: 100%;">
            <tbody>
            <tr>
                <td align="center"><hr style="background:#7e808c; border:0; height:1px" /></td>
            </tr>
            <tr>
                <td align="center">
                    <table align="center" border="0" width='820' style="border-collapse: collapse;border-spacing: 0px;">
                        <tbody>
                        <tr>
                            <td align="center"><span style="font-size: 22px; font-family: 'Open Sans',Calibri,sans-serif;">Thank you for doing business with us!</span></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        </td>
    </tr>
    <tr>
        <td height="60" style="font-size:50px; line-height:50px">&nbsp;</td>
    </tr>
    </tbody>
</table>
</body>
</html>
