<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Define Charset -->

    <!-- Responsive Meta Tag -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <meta name="viewport" content="width=600,initial-scale = 2.3,user-scalable=no">

    <title>New request</title>

    <style type="text/css">

        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            mso-margin-top-alt: 0px;
            mso-margin-bottom-alt: 0px;
            mso-padding-alt: 0px 0px 0px 0px;
        }

        p, h1, h2, h3, h4 {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }

        span.preheader {
            display: none;
            font-size: 1px;
        }

        html {
            width: 100%;
        }

        table {
            font-size: 12px;
            border: 0;
        }

        /* ----------- responsivity ----------- */
        @media only screen and (max-width: 798px) {
            body[yahoo] .hide-800 {
                display: none !important;
            }

            body[yahoo] .container800 {
                width: 100% !important;
            }

            body[yahoo] .container800_img {
                width: 50% !important;
            }

            body[yahoo] .section800_img img {
                width: 100% !important;
                height: auto !important;
            }

            body[yahoo] .half-container800 {
                width: 49% !important;
            }
        }

        /* ----------- responsivity ----------- */
        @media only screen and (max-width: 640px) {

            /*------ top header ------ */
            body[yahoo] .main-header {
                font-size: 18px !important;
            }

            body[yahoo] .main-section-header {
                font-size: 22px !important;
            }

            body[yahoo] .show {
                display: block !important;
            }

            body[yahoo] .hide {
                display: none !important;
            }

            body[yahoo] .align-center {
                text-align: center !important;
            }

            body[yahoo] .no-border {
                border-right: none !important;
            }

            /*-------- container --------*/
            body[yahoo] .container590 {
                width: 440px !important;
            }

            body[yahoo] .container580 {
                width: 400px !important;
            }

            body[yahoo] .container800 {
                width: 440px !important;
            }

            body[yahoo] .container800_img {
                width: 100% !important;
            }

            body[yahoo] .section800_img img {
                width: 100% !important;
            }

            body[yahoo] .half-container {
                width: 220px !important;
            }

            body[yahoo] .main-button {
                width: 220px !important;
            }

            body[yahoo] .timeline {
                background: none !important;
            }

            /*-------- secions ----------*/
            body[yahoo] .section-img img {
                width: 320px !important;
                height: auto !important;
            }

        }

        @media only screen and (max-width: 479px) {
            /*------ top header ------ */
            body[yahoo] .main-header {
                font-size: 18px !important;
            }

            body[yahoo] .main-section-header {
                font-size: 22px !important;
            }

            /*-------- container --------*/
            body[yahoo] .container590 {
                width: 280px !important;
            }

            body[yahoo] .container580 {
                width: 260px !important;
            }

            body[yahoo] .container800 {
                width: 100% !important;
            }

            body[yahoo] .container800_img {
                width: 100% !important;
            }

            body[yahoo] .section800_img img {
                width: 100% !important;
                height: auto !important;
            }

            body[yahoo] .half-container800 {
                width: 100% !important;
            }

            body[yahoo] .half-container {
                width: 130px !important;
            }

            /*-------- secions ----------*/
            body[yahoo] .section-img img {
                width: 280px !important;
                height: auto !important;
            }
        }

    </style>
</head>


<body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">


<style>
    .tableContainer {
        border-collapse: separate;
        border-spacing: 3px;
        border-left-color: #ebe7e0;
        border-left-style: solid;
        border-left-width: 2px;
        width: 270px;
    }

    .stayInformation {
        width: 253px;
        font-family: monospace;
        color: rgb(44,46,47);
    }

    .tableTitle {
        padding-left: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        color: rgb(20,66,99);
        font-size: 16px;
        font-family: Montserrat,sans-serif;
    }

    .itemLabel {
        padding-left: 10px;
        font-size: 12px;
        font-weight: bold;
    }
    .itemValue {
        background-color:#FFD700;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        text-transform: uppercase;
    }
</style>

<table border="0" width="100%">

    <tbody>
    <tr>
        <td align="center" style="height: 150px;">

            <table border="0" align="center" style="width: 100%;">

                <tbody>
                <tr>
                    <td align="center">
                        <table align="center" border="0" width='820' style="border-collapse: collapse;border-spacing: 0px;">
                            <tbody>
                            <tr>
                                <td rowspan="2"><span style="color: #3e3d4c; font-size: 38px;line-height: 20px;font-family: sans-serif;">zohartours</span></td>
                                <td colspan="2" align="right"><span> 407 LINCOLN ROAD - SUITE 11K - MIAMI BEACH, FL 33139</span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="right"><span>T +1 (212) 252-8690 - INFO@ZOHARTOURS.COM - <span>ZOHARTOURS.COM</span> </span></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center"><hr style="background:#7e808c; border:0; height:1px" /></td>

                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>


<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">
    <tbody>
    <tr>
        <td align="center">
            <table border="0" align="center" width="650px" cellpadding="0" cellspacing="0" >
                <tbody>
                <tr>
                    <td colspan="2" style="color:rgb(20,66,99); font-size:30px; font-family:Montserrat,Calibri,sans-serif; line-height:30px; text-align:center; padding-bottom:20px;">
                        <div style="line-height:30px">NEW REQUEST</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" style="color:rgb(44,46,47); font-size:12px; font-family:'Open Sans',Calibri,sans-serif; line-height:20px; padding-bottom:20px;">
                        <div style="line-height:20px">PLEASE CONFIRM UNDER <span style="color:#019ac4">FIT CONTRACT.</span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                    <table class='tableContainer stayInformation'>
                        <tbody>
                        <tr><td colspan="2" class="tableTitle">REQUEST INFORMATION</td></tr>
                        <tr><td class='itemLabel'><strong>ID:</strong></td>
                            <td class="itemValue" style='text-align: center; padding-right: 5px;padding-left: 5px;'><strong>{{ reservation.code }}</strong></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style='height:30px' >&nbsp;</td>
                        </tr>
                        <tr><td colspan="2" class="tableTitle">STAY INFORMATION</td></tr>
                        <tr><td class='itemLabel'><strong>ARRIVAL:</strong></td>
                            <td class="itemValue" style='text-align: center'>{{ checkout.search.checkIn|date('d M Y') }}</td>
                        </tr>
                        <tr>
                            <td class='itemLabel'><strong>DEPARTURE:</strong></td>
                            <td class="itemValue" style='text-align: center'>{{ checkout.search.checkOut|date('d M Y') }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style='height:30px' >&nbsp;</td>
                        </tr>
                        <tr>
                            <td class='itemLabel'><strong>NIGHTS:</strong></td>
                            <td class="itemValue" style='text-align: center'>{{ checkout.search.nights }}</td>
                        </tr>
                        </tbody>
                    </table>
                    </td>
                    <td style="vertical-align: top;">
                        <table class='tableContainer stayInformation'>
                            <tbody>
                            <tr><td colspan="2" class="tableTitle">HOTEL / ROOM TYPE</td></tr>
                            <tr><td colspan="2" class='itemLabel'><strong>HOTEL:</strong></td></tr>
                            <tr><td colspan="2" class="itemValue">{{ reservation.hotel.name }}</td></tr>
                            <tr><td colspan="2" class='itemLabel'><strong>ROOM TYPE:</strong></td></tr>
                            <tr><td colspan="2" class="itemValue">{{ reservation.room.name }}</td></tr>
                            <tr><td colspan="2" style='height:30px' >&nbsp;</td></tr>
                            <tr>
                                <td class='itemLabel'><strong>QUANTITY:</strong></td>
                                <td class='itemValue' style='text-align: center'>01</td>
                            </tr>
                            <tr>
                                <td class='itemLabel'><strong>OCCUPANCY:</strong></td>
                                <td class='itemValue' style='text-align: center'>{{ occupancy }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="vertical-align: top;">
                        <table class='tableContainer stayInformation' style="width:100%;margin-top: 20px;">
                            <tbody>
                            <tr><td colspan="4" class="tableTitle">GUESTS INFORMATION</td></tr>
                            <tr><td colspan="4" height="10" style="font-size:10px; line-height:10px;">&nbsp;</td></tr>
                            <tr style="text-align: center;"><td >#</td><td>TITLE</td><td>LAST NAME</td><td>FIRST NAME</td></tr>
                        {% for guest in checkout.guests %}
                            <tr><td class="itemValue" style="width: 20px; padding: 0; text-align: center;">{{ loop.index }}</td>
                                <td class="itemValue" style='text-align: center; width: 30px; padding:0;'>{{ guest.title.name  }}</td>
                                <td class="itemValue" style='text-align: left; padding: 0 0 0 5px;'>{{ guest.lastName  }}</td>
                                <td class="itemValue" style='text-align: left; padding: 0 0 0 5px;'>{{ guest.name }}</td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="20">&nbsp;</td>
                </tr>
                <tr>
                    <td style="vertical-align: top">
                        <table class='tableContainer stayInformation'>
                            <tbody>
                            <tr><td colspan="2" class="tableTitle">RATES</td></tr>
                            {#<tr>#}
                                {#<td class='itemLabel'><strong>PRICE:</strong></td>#}
                                {#<td class="itemValue" style='text-align: right'>{{ hotel.currency.symbol ~ reservation.priceNet|number_format(2, '.', ',') }}</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td class='itemLabel'><strong>SERVICES:</strong></td>#}
                                {#<td class="itemValue" style='text-align: right'>{{ hotel.currency.symbol ~ reservation.servicesPrice|number_format(2, '.', ',') }}</td>#}
                            {#</tr>#}
                            {% if reservation.promoDiscountNet > 0 %}
                                <tr>
                                    <td class='itemLabel'><strong>DISCOUNT:</strong></td>
                                    <td class="itemValue" style='text-align: right'> - {{ hotel.currency.symbol ~ reservation.promoDiscountNet|number_format(2, '.', ',') }}</td>
                                </tr>
                            {% endif %}
                            {#<tr>#}
                                {#<td class='itemLabel'><strong>TAXES:</strong></td>#}
                                {#<td class="itemValue" style='text-align: right'>{{ hotel.currency.symbol ~ reservation.taxesNet|number_format(2, '.', ',') }}</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td></td>#}
                                {#<td style='height:30px' >&nbsp;</td>#}
                            {#</tr>#}
                            <tr>
                                <td class='itemLabel'><strong>TOTAL:</strong></td>
                                <td class="itemValue" style='text-align: right'>{{ hotel.currency.symbol ~ reservation.totalNet|number_format(2, '.', ',') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% if reservation.promotionsNames|length %}
                    <tr>
                        <td height="20" style="font-size:50px; line-height:40px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table  class='tableContainer stayInformation' style="width:100%;" >
                                <tbody>
                                <tr>
                                    <td class='itemLabel'><strong>Promotions Applied:</strong></td>
                                </tr>
                                <tr>
                                    <td class="itemValue" >
                                        {{ reservation.promotionsNames }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td height="20" style="line-height:40px">&nbsp;</td>
    </tr>
    </tbody>
</table>
<table width="100%" bgcolor="ffffff" >
    <tbody>
    <tr>
        <td align="center">
            <table align="center" width="650px" style="border:1px solid #e4e6ec">
                <tbody>
                <tr>
                    <td height="15" style="font-size:12px; line-height:12px">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center">
                        <table width="560" align="center" style="border-collapse:collapse">
                            <tbody>
                            <tr>
                                <td align="left" valign="middle" width="65"><span class="x_editable_img"></span> </td>
                                <td>
                                    <table border="0" cellpadding="0" align="left" cellspacing="0" style="border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td align="left" style="color:rgb(20,66,99); font-size:14px; font-family:Montserrat,Calibri,sans-serif; line-height:22px">
                                                <div style="line-height:22px"><span >ANY QUESTIONS?</span> </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="5" style="font-size:5px; line-height:5px">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="color:rgb(44,46,47); font-size:11px; font-family:'Open Sans',Calibri,sans-serif; line-height:23px">
                                                <div style="line-height:23px"><span>Contact us REF <strong>{{ reservation.code }}</strong></span> </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="15" style="font-size:13px; line-height:13px">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
        <table border="0" align="center" style="width: 100%;">
            <tbody>
            <tr>
                <td align="center"><hr style="background:#7e808c; border:0; height:1px" /></td>
            </tr>
            <tr>
                <td align="center">
                    <table align="center" border="0" width='820' style="border-collapse: collapse;border-spacing: 0px;">
                        <tbody>
                        <tr>
                            <td align="center"><span style="font-size: 22px; font-family: 'Open Sans',Calibri,sans-serif;">Thank you for doing business with us!</span></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        </td>
    </tr>
    <tr>
        <td height="60" style="font-size:50px; line-height:60px">&nbsp;</td>
    </tr>
    </tbody>
</table>
</body>
</html>
