<!DOCTYPE html>
<html lang="en">
<head>
	{# NO INDEX #}
	<meta name="robots" content="noindex">

	<meta charset="utf-8">
  	<meta http-equiv="x-ua-compatible" content="ie=edge">
  	<title>{% block title %}{{ brand }} | Home{% endblock %}</title>
  	<meta name="description" content="ZoharTours">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
	<link rel="stylesheet" href="{{ asset('css/zoharicon.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	{% block styles %}{% endblock %}
    
</head>
<body {% block inline_body %}{% endblock %}>
    <style>
        .Navigation-item {
          display: inline-block;
          padding: 0.5em 1em;
          position: relative;
        }
    </style>
	<div id="wrapper">
		<header class="Header">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<a href="{{ path('home') }}">
							<img src="{{ asset('img/logo.svg') }}" alt="ZoharTours Logo" class="Header-logo">
						</a>
					</div>
					<div class="col-sm-10">
						<nav class="">
							<ul class="Navigation-list" >
							    <!--
								<li class="Navigation-item">
									<a href="https://www.facebook.com/offroadinnewyork/" target="_blank" style="color:red;text-transform: none;font-size: larger;" class="Navigation-link">Off Road in New York Tour</a>
								</li>
								<li class="Navigation-item">
									<a href="https://www.miamifitnessretreat.com/" target="_blank" style="color:red;text-transform: none;font-size: larger;" class="Navigation-link">Miami Fitness Retreat Tour</a>
								</li>
								-->
								<li class="Navigation-item">
									<a href="https://www.facebook.com/offroadinnewyork/" target="_blank" style="color:red;text-transform: none;" class="Navigation-link">Off Road in New York Tour</a>
								</li>
								<li class="Navigation-item">
									<a href="#" style="color:red;text-transform: none;" class="Navigation-link">Miami Fitness Retreat Tour</a>
								</li>

								<li class="Navigation-item {% if activePage is defined and activePage == 'home' %} active{% endif %}">
									<a href="{{ path('home') }}" class="Navigation-link">{{ 'menu.home'|trans }}</a>
								</li>
								<li class="Navigation-item {% if activePage is defined and activePage == 'hotels' %} active{% endif %}">
									<a href="{{ path('hotels') }}" class="Navigation-link">{{ 'menu.hotels'|trans }}</a>
								</li>
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_AGENCY') %}
								<li class="dropdown Navigation-item {% if activePage is defined and activePage == 'tours' %}  active{% endif %}" >
									{#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
									<a href="#" class="Navigation-link dropdown-toggle"  data-toggle="dropdown" role="button">{{ 'menu.tours'|trans }} <span class="caret"></span></a>
									<ul class="dropdown-menu" style="z-index=999">
										<li><a href="{{ path('tours', {'t':'florida'} ) }}">Descubra la autentica Florida</a></li>
										<li><a href="{{ path('tours', {'t':'miami'} ) }}">Miami tours</a></li>
										<li><a href="{{ path('tours', {'t':'newyork'} ) }}">Black Friday in New York</a></li>
                                	</ul>
								</li>
								
								
				{% else %}
                                {% endif %}


								{#<li class="Navigation-item {% if activePage is defined and activePage == 'cruises' %}active{% endif %}">#}
									{#<a href="{{ path('cruises') }}" class="Navigation-link">Cruises</a>#}
								{#</li>#}

                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_AGENCY') %}
								<li class="Navigation-item {% if activePage is defined and activePage == 'transfers' %}active{% endif %}" >
									<a href="{{ path('transfers') }}" class="Navigation-link">{{ 'menu.transfers'|trans }}</a>
								</li>
                                {% endif %}

                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
									<li class="Navigation-item">
										<a href="{{ path('dashboard') }}" class="Navigation-link">{{ 'menu.backend'|trans }}</a>
									</li>
								{% elseif is_granted('ROLE_AGENCY') %}
									<li class="Navigation-item">
										<a href="{{ path('client_reservations') }}" class="Navigation-link">{{ 'menu.myReservations'|trans }}</a>
									</li>
									{% endif %}
								{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
								   <li class="Navigation-item">
										<a href="{{ path('fos_user_security_logout') }}" class="Navigation-link">{{ 'menu.logout'|trans }}</a>
									</li>
								{% else %}
									<li class="Navigation-item">
										<a href="{{ path('fos_user_security_login') }}" class="Navigation-link">{{ 'menu.login'|trans }} <span class="zoharicon-sign-in"></span></a>
									</li>
								{% endif %}
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

		{% block body %}

		{% endblock %}
		<footer class="Footer">
			<div class="Footer-top">
				<div class="container">
					<div class="row">

						<div class="col-md-2 Footer-logo-container">
							<a href="{{ path('home') }}">
								<img src="{{ asset('img/logo.svg') }}" alt="ZoharTours" class="Footer-logo"/>
							</a>
						</div>
						<div class="col-md-10">
							<div class="row">
								<div class="col-sm-3">
									<div class="FooterItem">
										<h4 class="FooterItem-title">{{ 'footer.address'|trans }}</h4>
										<p class="FooterItem-description">
											<span class="zoharicon-address"></span><span> 407 Lincoln Road Suite 11K</span>
										</p>
										<p class="FooterItem-description">
											<span class="zoharicon-blank"></span><span> Miami Beach, FL 33139</span>
										</p>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="FooterItem">
										<h4 class="FooterItem-title">Phone</h4>
										<p class="FooterItem-description">
											<span class="zoharicon-phone"></span><span> +1 (212) 252-8690</span>
										</p>
										<div class="SocialMedia">
											<li class="SocialMedia-item skype">
												<a href="skype:zohar.tours?call" class="SocialMedia-link"><i class="zoharicon-skype"></i><span>Skype</span></a>
											</li>
    									</div>
									</div>
    							</div>

								<div class="col-sm-3">
									<div class="FooterItem">
										<h4 class="FooterItem-title">{{ 'footer.email'|trans }}</h4>
										<p class="FooterItem-description">
											<span class="zoharicon-email"></span><span> <a href="mailto:info@zohartours.com">info@zohartours.com</a></span>
										</p>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="FooterItem">
										<h4 class="FooterItem-title">{{ 'footer.hourly'|trans }}</h4>
										<p class="FooterItem-description">
											<span class="zoharicon-clock"></span><span> 9:30 to 18:00</span>
										</p>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="Footer-bottom">
				<div class="container">
					<div class="row">
						<div class="container">
							<div class="row">
								<div class="col-lg-12 FooterNav">
									<ul class="FooterNav-list">
										{% set route = app.request.get('_route') %}
										{% set params = app.request.get('_route_params') %}
										{% set locale = app.request.locale %}
										{% for link in footerLinks %}
											{% if  locale == 'es' %}
												<li class="FooterNav-item">
													<a href="{{ path('static_page', {'slug': link.esSlug} )}}" class="FooterNav-link">{{ link.esTitle }}</a>
												</li>
											{% else %}
												<li class="FooterNav-item">
													<a href="{{ path('static_page', {'slug': link.enSlug} )}}" class="FooterNav-link">{{ link.enTitle }}</a>
												</li>
											{% endif %}
										{% endfor %}
										<li class="FooterNav-item">
											<a href="#" class="FooterNav-link">{{ 'footer.contact'|trans }}</a>
										</li>
										<li class="FooterNav-item">
											{% if  locale == 'es' %}
												{% set params = params|merge({'_locale': 'en'}) %}
												<a href="{{ path(route, params ) }}" class="FooterNav-link">
													{{ 'footer.translate'|trans({}, "messages", 'en')|title }}
												</a>
											{% else %}
												{% set params = params|merge({'_locale': 'es'}) %}
												<a href="{{ path(route, params ) }}" class="FooterNav-link">
													{{ 'footer.translate'|trans({}, "messages", 'es')|title }}
												</a>
											{% endif %}
										</li>
										{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
											<li class="FooterNav-item">
												<a href="{{ path('fos_user_security_logout') }}" class="FooterNav-link">{{ 'footer.logout'|trans }}</a>
											</li>
										{% else %}
											<li class="FooterNav-item">
												<a href="{{ path('fos_user_security_login') }}" class="FooterNav-link">{{ 'footer.login'|trans }}</a>
											</li>
										{% endif %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ asset('js/jquery.min.js') }}"><\/script>')</script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js{# asset('js/bootstrap.min.js') #}"></script>
	<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('js/vendor/core.min.js') }}"></script>
	<script src="{{ asset('js/vendor/raty.min.js') }}"></script>

	<script>
	    $(function(){
	        // Code
	    })
	</script>

	{% block footer_js %}{% endblock %}

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', '{{ tracking.google }}', 'auto');
	  ga('send', 'pageview');
	</script>
</body>
</html>
