{% extends "GushhBackendBundle::base.html.twig" %}

{% block styles %}
  <link rel="stylesheet" href="{{ asset('backend/global/vendor/datatables-bootstrap/dataTables.bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('backend/global/vendor/datatables-fixedheader/dataTables.fixedHeader.min.css') }}">
  <link rel="stylesheet" href="{{ asset('backend/global/vendor/datatables-responsive/dataTables.responsive.min.css') }}">

  {# <link rel="stylesheet" href="{{ asset('backend/global/vendor/datatables/datatables.min.css') }}">
  <link rel="stylesheet" href="{{ asset('backend/global/vendor/datatables-bootstrap/dataTables.bootstrap.min.css') }}"> #}
  
{% endblock %}

{% block content %}

  <div class="page animsition">
    <div class="page-content">
      <div class="page-header page-header-bordered">
        <h1 class="page-title">Hotel Amenities</h1>
        <ol class="breadcrumb">
          <li><a href="{{ path('dashboard') }}">Backend</a></li>
          <li class="active">Hotel Amenities</li>
        </ol>
        <div class="page-header-actions">
          <a href="{{ path('backend_hotel_amenity_new') }}" class="btn btn-primary">
            <i class="icon fa-plus" aria-hidden="true"></i>  Amenity
          </a>          
        </div>
      </div>
      
      <!-- Panel Table Individual column searching -->
      <div class="panel">
        <div class="panel-body">
          <table class="table table-hover dataTable table-striped width-full" id="hotelAmenityTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {% for amenity in entities %}
                <tr>
                    <td><a href="{{ path('backend_hotel_amenity_edit', { 'haid': amenity.id }) }}">{{ amenity }}</a></td>
                    <td>{{ amenity.description }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- End Panel Table Individual column searching -->
    </div>
  </div>

{% endblock %}

{% block footer_js %}
  <script src="{{ asset('backend/global/vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('backend/global/vendor/datatables-bootstrap/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('backend/global/js/components/datatables.min.js') }}"></script>
  <script src="{{ asset('backend/js/pages/hotel-amenity/dataTable.min.js') }}"></script>
{% endblock %}