{% extends "GushhBackendBundle::base.html.twig" %}

  
{% block styles %}
    <link rel="stylesheet" href="{{ asset('backend/global/vendor/formvalidation/formValidation.min.css') }}">
{% endblock %}

{% block content %}

    <div class="page animsition">
        <div class="page-content">
            <div class="page-header page-header-bordered">
                <h1 class="page-title">Provider</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('dashboard') }}">Backend</a></li>
                    <li><a href="{{ path('backend_providers') }}">Provider</a></li>
                    <li><a href="{{ path('backend_providers') }}">{{ entity.id }}</a></li>
                </ol>
                <div class="page-header-actions">
                    <a href="{{ path('backend_providers') }}" class="btn btn-default">
                        <i class="icon fa-chevron-left" aria-hidden="true"></i> Back
                    </a>
                    <a href="{{ path('backend_provider_edit', {'id': entity.id}) }}" class="btn btn-primary">
                        <i class="icon fa-edit" aria-hidden="true"></i> Provider
                    </a>
                </div>
            </div>

            <!-- Panel Table Individual column searching -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="text-center">Payer Information</h4>
                            <table class="table table-striped width-full" style="table-layout: fixed;">
                                <tbody>
                                <tr>
                                    <td>
                                        <h6>Name</h6>
                                        <small>{{ entity.name }}</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <h6>Notes</h6>
                                        <small>{{ entity.notes }}</small>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
{% endblock %}
